@font-face {
  font-family: 'Volkhov-Regular';
  src: url('../assets/fonts/Volkhov/Volkhov-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Volkhov-Italic';
  src: url("../assets/fonts/Volkhov/Volkhov-Italic.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Volkhov-Bold';
  src: url("../assets/fonts/Volkhov/Volkhov-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Volkhov-BoldItalic';
  src: url("../assets/fonts/Volkhov/Volkhov-BoldItalic.ttf");
  font-weight: 700;
}

